﻿@using DynamicModel.Core.Web.UI.Models
@model IEnumerable<HealthCheck>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            @if (Model != null)
            {

                @if (Model.Any(m => !m.Healthy))
                {

                }
                else
                {

                }

                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="list-group">

                            @foreach (var healthCheck in this.Model)
                            {

                                <div class="list-group-item">
                                    <h6 class="list-group-item-heading">
                                        @healthCheck.Name
                                        @*<a href="#" data-toggle="tooltip" data-placement="bottom" title="Access website and use site API">
                                                <i class="fa fa-question-circle"></i>
                                            </a>*@
                                    </h6>
                                    <p class="list-group-item-text">
                                        @if (!healthCheck.Healthy)
                                        {
                                            <span class="badge badge-danger">NOT HEALTHY</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">HEALTHY</span>
                                        }
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


