﻿.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }

.field-icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

article.login, article.register{
    max-width:350px;
}
.bg-user {
    background-image: url('../img/user.svg');
}

.bg-lock {
    background-image: url('../img/lock.svg');
}

/* Google reCaptcha customization start */

.g-recaptcha, .no-border-recaptcha {
    margin: 0 auto;
}

.no-border-recaptcha {
    width: 310px;
    height: 78px;
    position: absolute;
    margin: 0 auto;
    pointer-events: none;
    border: 6px solid #f8f9fa;
}
/* Google reCaptcha customization end */

