﻿@using System.Globalization
<html>
<head>
    <link href="//ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLower()"></script>
    <link href="~/css/site.account.css" rel="stylesheet" id="site-css">
</head>

<body class="bg-light">
    @RenderBody()
</body>

</html>