﻿<html>
<head>
    <link href="//ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <link href="~/css/site.healthcheck.css" rel="stylesheet" id="site-css">
</head>

<body class="bg-light">
    @RenderBody()
</body>

</html>