﻿@using DynamicModel.Core.Web.UI.Models
@model AccountLogin
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@using (Html.BeginForm(method: FormMethod.Post, controllerName: "Account", actionName: "Login", htmlAttributes: new Dictionary<String, String>() { { "id", "register-form" }, { "name", "register-form" } }))
{
    <div class="container">

        <article class="card-body mx-auto login">
            <h4 class="card-title mt-3 text-center">Login</h4>
            <p class="text-center">Enter username and password</p>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="field-icon bg-user"></i>
                        </span>
                    </div>
                    <input name="username" class="form-control" placeholder="Username" type="text" value="@Model.Username">
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="field-icon bg-lock"></i>
                        </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Create password" type="password">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" id="register"> Login </button>
                </div>
                <!-- form-group// -->
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>
                <p class="text-center">
                    Do not have an account?
                    @Html.ActionLink("Register", "Register", "Account")
                </p>
            </form>
        </article>
    </div>
}