﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@using DynamicModel.Core.Web.UI.Models
@using DynamicModel.Core.Web.UI.Controllers
@using DynamicModel.Core.Web.UI.Validation
@inject IConfiguration Configuration
@inject IHtmlLocalizer<AccountController> Localizer
@model AccountRegister
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@using (Html.BeginForm(method: FormMethod.Post, controllerName: "Account", actionName: "Register", htmlAttributes: new { id = "register-form" }))
{
<div class="container">
    <div>Current Culture: @CultureInfo.CurrentCulture.DisplayName</div>
    <div>Current UI Culture: @CultureInfo.CurrentUICulture.DisplayName</div>
    <article class="card-body mx-auto register">
        <h4 class="card-title mt-3 text-center">@Localizer.GetString("CreateAccount")</h4>
        <p class="text-center">@Localizer["EnterCredentials"]</p>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="field-icon bg-user"></i>
                    </span>
                </div>
                <input asp-for="Username" name="Username" class="form-control" placeholder="Username" type="text" value="@(Model!=null ? Model.Username:String.Empty)">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="field-icon bg-lock"></i>
                    </span>
                </div>
                <input name="password" class="form-control" placeholder="Create password" type="password">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="field-icon bg-lock"></i>
                    </span>
                </div>
                <input name="passwordConfim" class="form-control" placeholder="Repeat password" type="password">
            </div>
            <div class="form-group input-group">
                @Html.GoogleReCaptcha(siteKey: Configuration.GetValue<String>("GoogleReCaptcha:ClientKey"), callback: "enableButton")
                <div class="no-border-recaptcha"></div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block disabled" id="register-button" disabled> Create Account </button>
            </div>

            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <p class="text-center">
                Have an account?
                @Html.ActionLink("Login", "Login", "Account")
            </p>
    </article>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#register-form").submit(function (event) {
                var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                }
            });
        });

        function enableButton() {
            var registerButton = $("#register-button");
            registerButton.removeClass("disabled");
            registerButton.removeAttr("disabled");
        }
    </script>
}
